 location {{ .Path }} {
    {{ if .RenderRegex }}
    rewrite {{ .Path }} {{ .target }} break;
    {{ end }}
    proxy_pass http://{{ .HostName }};
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
}